<section id="work-section" class="content-container odd-container">

    <svg class="section-separator-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
    </svg>

    <div class="section-header">
        <p class="section-title">projects</p>
        <img class="section-underline" src="/images/banner-2.svg">
    </div>

    <div class="card-container max-width-container">
        <div proj-overlay class="project-card" ng-repeat="project in $ctrl.projectCards">
            <img class="project-thumbnail" ng-src="{{project.img}}">
            <div class="overlay hide">
                <div class="project-info">
                    <p class="project-name">{{project.name}}</p>
                    <p class="project-description">{{project.description}}</p>
                    <p><a class="fake-button" ng-href="{{project.url}}" target="_blank">View Project</a></p>
                    <p class="project-github">View code on <a ng-href="{{project.github}}" target="_blank">GitHub</a></p>
                </div>
            </div>
        </div>
    </div>
</section>