<section id="about-section" class="content-container">
    <div class="section-header">
        <p class="section-title">about</p>
        <img class="section-underline" src="/images/banner-2.svg">
    </div>
    <div class="max-width-container">
        <p>I'm a passionate web developer with a people-first mindset. I bring fresh eyes, honesty, and ambition to
            every new endeavor. Excited to create new projects to help the world!</p>
        <p>If you have a project you'd like to collaborate on, drop a line. I'm always looking for fun new things to
            code and learn. Currently seeking full-time opportunities.</p>
        <p>Looking for my <a href="dakota_vradenburg_resume.pdf" target="_blank">r&eacute;sum&eacute;</a>?</p>
        <!-- Idea! Click here for more fun facts (reveals extra facts about me and disappears when you scroll.) -->
    </div>
</section>