    <header>
        <p id="logo">Dakota</p>
        <div class="icon-container">
                <a href="https://www.github.com/DakotaV6" target="_blank">
                    <span class="sr-only">See Dakota's projects on GitHub</span>
                    <i class="fab fa-github" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/dakotav/" target="_blank">
                    <span class="sr-only">Connect with Dakota on LinkedIn!</span>
                    <i class="fab fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="mailto:dakota.vradenburg@gmail.com">
                    <span class="sr-only">Email Dakota</span>
                    <i class="far fa-envelope-open" aria-hidden="true"></i>
                </a>
            </div>
    </header>