<section id="work-section">
    <a name="work" class="header-anchor-fix">&nbsp;</a>

    <p class="section-title">my work</p>
    <div class="card-container">

        <div class="project-card">
            <a class="project-link" href="https://dakotav6.github.io/the-back-door-project/#home" target="_blank">
                <span class="project-details">
                    <div class="language-container">
                    <p>CSS</p>
                    <p>HTML</p>
                    <p>jQuery</p>
                    </div>
                </span>
                <img class="project-thumbnail" src="images/back-door-snap.PNG">
                <span class="sr-only">Back Door Project Link</span>
            </a>
        </div>
        <div class="project-card">
                <a class="project-link" href="https://dakotav6.github.io/event-search-project-ng/#!/" target="_blank">
                    <span class="project-details">
                        <div class="language-container">
                        <p>CSS</p>
                        <p>API</p>
                        <p>AngularJS</p>
                        </div>
                    </span>
                    <img class="project-thumbnail" src="images/angular-project-snap.PNG">
                    <span class="sr-only">Back Door Project Link</span>
                </a>
            </div>

    </div>
</section>