/*         Google Fonts
font-family: 'Crimson Text', serif;
font-family: 'Amatic SC', cursive; 
************************************/

/*********************
    GLOBAL STYLES 
**********************/
html {
    font-size: 1.15em;
}

body {
    font-family: "Crimson Text", serif;
}

h1, h2 {
    font-family: "Amatic SC", cursive;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.35rem;
}

/*********************
   HEADER AND FOOTER 
**********************/

/*********************
      NAVIGATION 
**********************/

nav {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    /*border-bottom: solid (color) 5px;*/
}

/*********************
        ROWS
**********************/

.rowOne {
    display: inline-block;

}
.rowTwo {
    display: inline-block;
}

.animal {
    border-radius: 50%;
    padding: 10px;
    margin: 0 auto;
}

/*********************
    Media Queries 
**********************/