/* Coolors Exported Palette - coolors.co/6d676e-3a4454-91002b-bdb2bd-101419 */

/* RGB */
$color1: rgba(189, 178, 189, 1); // BLACK SHADOWS
$color2: rgba(109, 103, 110, 1); // DIM GRAY
$color3: rgba(58, 68, 84, 1);    // CHARCOAL
$color4: rgba(145, 0, 43, 1);    // PINK RASPBERRY
$color5: rgba(16, 20, 25, 1);    // EERIE BLACK