/***********/
/* GENERAL */
/***********/
html {
    box-sizing: border-box;
    font-size: 18px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
}
.section-header {
    width: 100%;
    text-align: center;
}
.section-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}
.content-container {
    padding: 0 1rem 100px 1rem;
    position: relative;
}
.odd-container {
    background-color: rgba(239, 233, 244, 1);
}
.section-underline {
    width: 125px;
    height: 50px;
}
.section-separator {
    position: absolute;
    bottom: 0;
}
.section-separator-top {
    position: absolute;
    top: -50px;
    left: 0;
    height: 50px;
    width: 100%;
    fill: rgba(239, 233, 244, 1);
}
/**********/
/* HEADER */
/**********/

header {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(38, 48, 86, 1);
}
#logo {
    font-family: 'Mr Dafoe', cursive;
    font-size: 7rem;
    margin: 0;
    color: rgba(250, 114, 104, 1); 
}

/***********/
/* CONTACT */
/***********/

.icon-container {
    display: flex;
    justify-content: space-around;
    width: 200px;
}
.fa-linkedin, .fa-github, .fa-envelope-open {
    color: white; 
    font-size: 2.5rem;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}
.fa-linkedin:hover, .fa-github:hover, .fa-envelope-open:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

/*********/
/* ABOUT */
/*********/

#about-section a {
    text-decoration: none;
    font-weight: 600;
    color: rgba(16, 20, 25, 1);
}
#about-section a:hover {
    color: rgba(250, 114, 104, 1);
}

/********/
/* WORK */
/********/
.card-container {
    display: flex;
    flex-direction: column;
}
.project-card {
    position: relative;
    margin: 10px 0;
}
.project-thumbnail {
    width: 100%;
}
.project-details {
    opacity: 0;
    position: absolute;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(145, 0, 43, 0.4);
}
.project-details:hover {
    opacity: 1;
}
.language-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.language-container p {
    font-weight: 600;
    margin: 10px 0;
    padding: 5px 0 5px 15px;
    color: rgba(189, 178, 189, 1);
    background: linear-gradient(315deg, transparent 25%, rgba(58, 68, 84, 0.9) 0) bottom right;
}

/*****************/
/* MEDIA QUERIES */
/*****************/

/* @media only screen and (min-width: 720px) {
    body {
        font-size: 1rem;
    }
} */