/***********/
/* GENERAL */
/***********/

html {
    box-sizing: border-box;
    font-size: 18px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
}
.section-header {
    width: 100%;
    text-align: center;
}
.section-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}
.max-width-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1200px;
}
.content-container {
    padding: 0 1rem 100px 1rem;
    position: relative;
}
.odd-container {
    background-color: rgba(239, 233, 244, 1);
}
.section-underline {
    width: 125px;
    height: 50px;
}
.section-separator {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
}
.section-separator-top {
    position: absolute;
    top: -50px;
    left: 0;
    height: 50px;
    width: 100%;
    fill: rgba(239, 233, 244, 1);
}
a {
    text-decoration: none;
    font-weight: 600;
    color: rgba(16, 20, 25, 1);
}
a:hover {
    color: rgba(250, 114, 104, 1);
}

/**********/
/* HEADER */
/**********/

header {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(38, 48, 86, 1);
}
#logo {
    font-family: 'Mr Dafoe', cursive;
    font-size: 7rem;
    margin: 0;
    color: rgba(250, 114, 104, 1); 
}

/***********/
/* CONTACT */
/***********/

.icon-container {
    display: flex;
    justify-content: space-around;
    width: 200px;
}
.fa-linkedin, .fa-github, .fa-envelope-open {
    color: white; 
    font-size: 2.5rem;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}
.fa-linkedin:hover, .fa-github:hover, .fa-envelope-open:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

/********/
/* WORK */
/********/

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project-card {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    overflow: hidden;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0,0,0, 0.25);
    transition: all 0.6s cubic-bezier(.25, .8, .25, 1);
}
.project-card:hover {
    filter: brightness(107%);
    border-radius: 15px;
    transform: scale(1.1);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.project-thumbnail {
    width: 100%;
    max-height: 380px;
    max-width: 500px;
}
.hide {
    opacity: 0;
    height: 0px;
}
.overlay {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .4s ease-in-out;
    width: 100%;
    height: 100%;
    background-color: rgba(239, 233, 244, 0.8);
}
.project-name {
    font-weight: 900;
    font-size: 1.5rem;
}
.project-description {
    margin: 0 10px;
}
.fake-button {
    color: rgba(38, 48, 86, 1);
    background-color: rgba(239, 233, 244, 1);
    border-bottom: 4px solid rgba(38, 48, 86, 1);
    border-radius: 10px;
    padding: 10px;
    margin-top: 1.5rem;
    transition: all .5s ease-in-out;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.25);
}
.fake-button:hover {
    color: rgba(250, 114, 104, 1);
    border-bottom: 4px solid rgba(250, 114, 104, 1);
}
.project-github {
    margin-top: 1.5rem;
}

/*****************/
/* MEDIA QUERIES */
/*****************/